./Versionsverwaltung mit Git (IB) v02.pdf
./OpenAPI-Spezifikation v02.pdf
./OpenAPI-Spezifikation (IFA32).pdf
./OpenAPI-Spezifikation - Vorlage für Spezifikation v02.odt
./OpenAPI-Spezifikation - Vorlage f\303\274r Spezifikation v02.odt